<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LambdaThread/src/com/lovecoding/threads/ThreadJavaEght.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.lovecoding.threads.ThreadJavaEght"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LambdaThread"/>
</launchConfiguration>
